.container {
  .header {
    height: 80px;
  }

  .outlet {
    min-height: calc(100vh - 130px);
    display: grid;
    // align-content: center;
  }

  .footer {
    height: 50px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
