.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2b1f1f99;

  .content {
    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      margin-top: 50px;
      font-family: Copperplate, Papyrus, fantasy;
      letter-spacing: 5px;
    }
    .detail {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      margin-right: 50px;
      font-family: Papyrus, fantasy;
      font-weight: bolder;
      letter-spacing: 3px;
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: #000000;

    li {
      display: inline-block;
      flex-direction: column;
      padding-right: 30px;
      color: #000000;
      text-decoration: none;

      a {
        &:hover {
          // background-color: rgb(0, 0, 0);
        }
        &:visited {
          color: white;
          // color: #000000;
        }
        &:active {
          background-color: unset;
        }
      }
    }
  }
}
